<footer class="m-3 p-2">
    <div class="row p-5 footer-border-bottom-block d-flex flex-md-row gap-4">

        <div class="col-md-3 d-flex flex-column gap-3 animate fade-up">

            <div class="img">
                <img src="assets/loro-icon-white.svg" alt="" width="102" height="40">
            </div>

            <p class="footer-main-para mb-0">
                We build websites that convert, apps that scale, and <span class="d-md-block">brands people
                    remember.</span>
            </p>

            <div class="footer-icons d-flex gap-4">

                <i class="bi bi-facebook ham-icons"></i>
                <i class="bi bi-instagram ham-icons"></i>
                <i class="bi bi-tiktok ham-icons"></i>
                <i class="bi bi-linkedin ham-icons"></i>
                <i class="bi bi-star ham-icons"></i>
                <i class="bi bi-github ham-icons"></i>

            </div>


        </div>

        <div class="col-md-3 animate fade-up delay-1">
            <div class="quick-links d-flex flex-column justify-content-center align-items-md-center">
                <h3 class="footer-nav-title">Quick Links</h3>
                <ul class="d-flex flex-column gap-2 list-unstyled m-0 p-0 footer-nav-list">
                    <li><a href="/index.html" class="footer-nav-links" data-color="#da1b3e"
                            style="--hover-color: #da1b3e;">Home</a></li>
                    <li><a href="/about.html" class="footer-nav-links" data-color="#eeab21"
                            style="--hover-color: #eeab21;">About</a></li>
                    <li><a href="/pricing.html" class="footer-nav-links" data-color="#00C9A7"
                            style="--hover-color: #00C9A7;">Pricing</a></li>
                    <li><a href="/portfolio.html" class="footer-nav-links" data-color="#2563EB"
                            style="--hover-color: #2563EB;">Portfolio</a></li>
                    <li><a href="/case-studies.html" class="footer-nav-links" data-color="#7C3AED" style="--hover-color: #7C3AED;">Case
                            Studies</a></li>
                    <li><a href="/demo.html" class="footer-nav-links" data-color="#DB2777"
                            style="--hover-color: #DB2777;">Demo</a></li>
                    <li><a href="/contact.html" class="footer-nav-links" data-color="#F92C53"
                            style="--hover-color: #F92C53;">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-2 animate fade-up delay-2">

            <div class="services d-flex flex-column justify-content-center">
                <h3 class="footer-nav-title">Services</h3>
                <ul class="d-flex flex-column gap-2 list-unstyled m-0 p-0 footer-nav-list">
                    <li><a href="" class="footer-nav-links" data-color="#00c9a7" style="--hover-color: #00c9a7;">Website
                            Development</a></li>
                    <li><a href="" class="footer-nav-links" data-color="#2563EB" style="--hover-color: #2563EB;">App
                            Development</a></li>
                    <li><a href="" class="footer-nav-links" data-color="#7C3AED" style="--hover-color: #7C3AED;">System
                            & Platforms</a></li>
                    <li><a href="" class="footer-nav-links" data-color="#da1b3e" style="--hover-color: #da1b3e;">AI
                            Media & Content</a></li>
                </ul>
            </div>

        </div>

        <div class="col-md-3 animate fade-up delay-3">

            <div class="services">
                <h3 class="footer-nav-title">Studio & Contact</h3>


                <ul class="d-flex flex-column gap-3 list-unstyled m-0 p-0 footer-nav-list">
                    <li>
                        <span><i class="bi bi-geo-alt"></i></span>
                        <span>Plot No 360, Street No 5, I9/3, Islamabad, Pakistan
                            (321) 742-3654</span>
                    </li>

                    <li>
                        <span><i class="bi bi-telephone"></i></span>
                        <span>(321) 742-3654</span>
                    </li>

                    <li>
                        <span><i class="bi bi-envelope"></i></span>
                        <span> support@fixit.com</span>
                    </li>
                    <li>
                        <button class="footer-btn">
                            Get Quote
                        </button>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="footer-bottom p-4 animate fade-up delay-3">

        <div class="row p-2">

            <div class="col-md-4">
                <p class="copyright mb-0">
                    © 2026 X80. All rights reserved.
                </p>
            </div>

            <div class="col-md-4 text-center">

                <p class="copyright mb-0">
                    “We build with empathy, creativity, and purpose.”
                </p>

            </div>

            <div class="col-md-4 text-end">
                <ul class="d-flex justify-content-md-end flex-row gap-3 list-unstyled m-0 p-0 footer-nav-list">
                    <li><a href="" class="footer-nav-links" data-color="#7C3AED">Privacy</a></li>
                    <li><a href="" class="footer-nav-links" data-color="#2563EB">Terms</a></li>
                </ul>
            </div>

        </div>

    </div>
</footer>