<header class="d-flex justify-content-center align-items-center">
    <nav class="d-flex justify-content-between align-items-center p-2 gap-5">

        <a href="/index.html">
            <div class="main-logo">
                <img src="assets/logo-nav.webp" alt="" height="40" width="40">
            </div>
        </a>

        <div class="main-menu">
            <ul class="d-flex justify-content-center align-items-center gap-5 list-unstyled m-0 p-0">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/pricing.html">Pricing</a></li>
                <li><a href="/portfolio.html">Portfolio</a></li>
                <li><a href="/case-studies.html">Case Studies</a></li>
                <li><a href="/demo.html">Demo</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="menu-para-talk mb-0 pb-0">Talk to the studio</div>

        <div class="main-navigations d-flex justify-content-center align-items-center gap-2 gap-lg-3">
            <div class="smart-navigation navigation-popup-form">
                <i class="bi bi-arrow-up-right popup-form-opener"></i>
            </div>

            <a href="/contact.html">
                <div class="smart-navigation navigation-popup-form-hide-one">
                    <i class="bi bi-arrow-up-right"></i>
                </div>
            </a>

            <div class="smart-navigation navigation-phone">
                <i class="bi bi-telephone"></i>
            </div>

            <div class="smart-navigation navigation-hamburger">
                <i class="bi bi-list"></i>
            </div>

        </div>

    </nav>

</header>